.gallery {
  padding: 50px 20px;
  background-color: white;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery-item {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
